.formWrapper{
    margin: auto;
    background:#a62500;
    padding-bottom: 25px;
}

.noteButton{
    border: none;
    margin: 0px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    padding: 8px 24px;
    font-size: 1.3em;
    font-family: 'Droid Sans', sans-serif;
    background-color: #019875;
    color: #fff;
    transition: 0.2s ease-out;
}

.noteButton:hover{
    background-color: #02BA85;
    color: #fff;
    transition: 0.2s ease-out;
}


.noteInput{
    width: 400px;
    font-size: 1.3em;
    padding-left: 20px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    font-family: 'Droid Sans', sans-serif;
    background-color: rgba(34,49,63,0.8);
    color: #fff;
    transition: 0.2s ease-out;
}

.note{
  display: block;
  width: 80%;

  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);

}
.closeBtn{
  float: right;
  margin-right: .5em;
  cursor: pointer;

}

.editBtn{
cursor: pointer;
}
