html{
  height: 100%;
}

body {
  width: 100%;
  min-height:100%;
  /* background-color: #ff3900; */
  background:#a62500;


}

/** {
  height: 100%;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}*/

.notesWrapper {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  height: 100%;
  width:100%
}

.notesHeader {
  display: flex;
  font-size: 3.2em;
  color: white;
  /* background:#a62500; */
  background-color: #ff3900;

  text-align: center;
  align-content: center;
  padding:20px 0px 20px 0px;
  margin-bottom: 6px;
  text-shadow: 3px 3px 10px #000;
  display: block;
}

.notesBody {
  padding-top: 24px;
  display: flex;
  flex: 1 1 85%;
  flex-wrap: wrap;
  align-items: flex-start;
  align-content: flex-start;
  overflow: auto;
}

.notesFooter {
  display: flex;
  flex: 1 1 5%;
  background-color: rgba(0,0,0,0.5);
  position: absolute;
  bottom: 0px;
  margin-left: 10%;
}

.note{
  display: block;
  width: 80%;
  border: black solid 2px;
  margin-left: 10%;
  text-align: center;
  margin-bottom: 1em;
  background-color:white ;
}
